.App {
    width: 100vw;
    height: 100vh;
}

input {
    top: 0;
    right: 3vw;
    position: absolute;
    width: 15vw;
    height: 5vh;
    vertical-align:top;
    padding: 0;
    font-size: 18px;
    border-bottom:1px solid #cccccc;
    border-right:none;
    border-left:none;
    border-top:none;
    cursor: pointer;
}

input:focus {
    outline: 0;
}
